# DATABASE CONFIGURATION
DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=db_ta2

# AWS S3 CONFIGURATION (OPTIONAL FOR CLOUD STORAGE)
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_DEFAULT_REGION=ap-southeast-1
AWS_BUCKET=your_aws_bucket_name
AWS_USE_PATH_STYLE_ENDPOINT=false

# JWT AUTHENTICATION
SECRET_KEY=secret_jwt_key_here

# MAIL CONFIGURATION (SMTP GMAIL FOR RESET PASSWORD)
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_app_password

# FRONTEND URL
FRONTEND_URL=http://localhost:9000
